* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: transparent;
  position: relative;
  top: 100px;
}

li {
  float: left;
  position: relative;
  left: 42rem;
}

li a {
  display: block;
  color: white;
  text-align: center;
  font-size: larger;
  padding: 14px 30px;
  text-decoration: none;
  font-family: 'Russo One', sans-serif;
  font-weight: bold;
}

li a:hover {
  background-color: grey;
}

nav {
  height: 250px;
}

  nav > img {
      height: 200px;
      width: 200px;
      position: absolute;
      left: 28rem;
  }


.foto-drankjes > img {
    position: relative;
    width: 50%;
    height: 50%;
    left: 25rem;


}

.foto2 > img {
  position: absolute;
  left: 38.5rem;
  top: 40rem;
}


.foto3 > img {
  position: absolute;
  left: 38.5rem;
  top: 40rem;
}

.flex-container h1 {
  color: white;
}

.huidige-aanbiedingen-omschrijving {
  color: white;
  padding: 10px;
  font-size: larger;
  font-family: 'Russo One', sans-serif;
  margin-left: 50px;
  position: relative;
  bottom: 30rem;
}

.huidige-aanbiedingen {
  color: red;
  padding: 5px;
  font-size: larger;
  font-family: 'Russo One', sans-serif;
  margin-left: 50px;
  text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
       position: relative;
       bottom: 30rem;
}

h1 {
  -webkit-text-stroke: 1px red;
   color: white;
   text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
    margin-left: 50px;
    font-family: 'Russo One', sans-serif;
    position: relative;
    bottom: 31rem;
}

.evenementen h1 {
  -webkit-text-stroke: 1px red;
   color: white;
   text-shadow:
       3px 3px 0 #000,
      -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
    margin-left: 50px;
    font-family: 'Russo One', sans-serif;
    position: absolute;
    right: 0;
    bottom: 0;
}

.aankomende-events  {
  color: white;
  padding: 10px;
  font-size: larger;
  font-family: 'Russo One', sans-serif;
  margin-left: 100rem;
  position: relative;
  bottom: 38rem;
}

.evenementen {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  color: #ccc;
}

.evenement_detail {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  color: #ccc;

}

.link {
  color: blue;
  border: #000 3px solid;
  background-color: #ccc;
  font: bold 12px/12px sans-serif;
  padding: 10px;

}

.datum {
  width: 100px;
}

.locatie {
  width: 90px;
}

main{
  width: 50%;
  margin: 0 auto;
}

.aankomende-evenementen {
  margin-left: 100rem;
  position: relative;
  bottom: 40rem;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 250px;
  margin-left: 450px;

}

.banner-images{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;
  
}

.banner-images img{
display: block;
}

.contact {
  position: relative;
  text-align: center;

}

input[type=text] {
  width: auto;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}


.contact > label {
  font-size: x-large;
  font-family: 'Russo One', sans-serif;
  font-weight: bold;
  margin: 0;
  padding: 0;
  top: auto;
  right: 10rem;
}

.contact h1{
  font-size: x-large;
  font-family: 'Russo One', sans-serif;
  font-weight: bold;
  margin: 0;
  padding: 0;
  top: auto;
  right: 10rem;
}

.meer-info1 a ,.meer-info2 a, .meer-info3 a, .meer-info4 a {
  border: 4px solid red;
  background-color: black;
  color: white;
  padding: 15px 30px;
  text-align: center;
  font-family: 'Russo One', sans-serif;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  position: relative;
  top: -15rem;
}

.meer-info1 a {
  border: 4px solid red;
}

.meer-info2 a {
  border: 4px solid green;
}

.meer-info3 a {
  border: 4px solid red;
}

.meer-info4 a {
  border: 4px solid yellow;
}

.container > button {
  background-color: transparent;
  border: none;
}

#images-product {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;
  margin-top: 50px;
  position: relative;
  top: -15rem;  
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: space-around;
  margin-top: 50px;
  margin-left: 600px;
}

.aardbei-info img {
  width: 40%;
  height: 40%;
  position: relative;
  left: 15rem;
  top: 40px;
}

#aardbei-info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 5%;
  font-size: xx-large;
}


.aardbei-info p {
  color: white;
  font-size: larger;
  font-family: 'Russo One', sans-serif;
  margin-left: 50px;
  float: right;
  position: relative;
  top: 100px;
  right: 200px;
}

#aardbei-info-appel {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 5%;
  font-size: xx-large;
  -webkit-text-stroke: 2px green;
   color: white;
   text-shadow:
       3px 3px 0 #000,
      -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}


#aardbei-info-citroen {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 5%;
  font-size: xx-large;
  -webkit-text-stroke: 1px yellow;
   color: white;
   text-shadow:
       3px 3px 0 #000,
      -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: space-around;
}

.link-aanbiedingen {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  align-content: space-around;
  background-color: #ccc;
  width: 80px;
}

.link-aanbiedingen >  a {
  color: blue;
  border: #000 3px solid;
  font: bold 12px/12px sans-serif;
  padding: 10px;
}


.aanbiedingen {
margin: 0 auto;
width: 100%;
padding: 10px;
color: white;
}

footer {
  text-align: center;
  background-color: red;
  color: white;
  font-family: 'Russo One', sans-serif;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

}

.footerp {
  color: white;
  font-family: 'Russo One', sans-serif;
  text-align:  left;
}

.evenementen_detail .dag {
  font-size: x-large;
}