* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: transparent;
  position: relative;
  top: 100px;
}

li {
  float: left;
  position: relative;
  left: 42rem;
}

li a {
  display: block;
  color: white;
  text-align: center;
  font-size: larger;
  padding: 14px 30px;
  text-decoration: none;
  font-family: 'Russo One', sans-serif;
  font-weight: bold;
}

li a:hover {
  background-color: grey;
}



  nav > img {
      height: 200px;
      width: 200px;
      position: absolute;
      left: 28rem;
  }


.foto-drankjes > img {
    position: relative;
    width: 50%;
    height: 50%;
    left: 25rem;
    top: 150px;

}

.foto2 > img {
  position: absolute;
  left: 38.5rem;
  top: 40rem;
}


.foto3 > img {
  position: absolute;
  left: 38.5rem;
  top: 40rem;
}

.flex-container h1 {
  color: white;
}

.huidige-aanbiedingen-omschrijving {
  color: white;
  padding: 10px;
  font-size: larger;
  font-family: 'Russo One', sans-serif;
  margin-left: 50px;
  
}

.huidige-aanbiedingen {
  color: red;
  padding: 5px;
  font-size: larger;
  font-family: 'Russo One', sans-serif;
  margin-left: 50px;
  text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}

h1 {
  -webkit-text-stroke: 1px red;
   color: white;
   text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
    margin-left: 50px;
    font-family: 'Russo One', sans-serif;
}

.evenementen h1 {
  -webkit-text-stroke: 1px red;
   color: white;
   text-shadow:
       3px 3px 0 #000,
      -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
    margin-left: 50px;
    font-family: 'Russo One', sans-serif;
    position: absolute;
    right: 0;
    bottom: 0;
}

.aankomende-events  {
  color: white;
  padding: 10px;
  font-size: larger;
  font-family: 'Russo One', sans-serif;
  margin-left: 100rem;
  position: relative;
  bottom: 38rem;
}

.evenementen {
  margin-left: 100rem;
  position: relative;
  bottom: 40rem;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 250px;
  margin-left: 450px;

}

#Voorjaarsaanbieding {
  overflow: hidden;
  position: absolute;
  align-items: center;
  display: flex;
}

img[id="Doldwaze dagen"] {
  display: flex;
  justify-content: center;
  align-items: center;
}


#Lenteactie {
  display: flex;
  justify-content: center;
  align-items: center;
}

.meer-info1 a ,.meer-info2 a, .meer-info3 a, .meer-info4 a {
  border: 4px solid red;
  background-color: black;
  color: white;
  padding: 15px 30px;
  text-align: center;
  font-family: 'Russo One', sans-serif;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.meer-info1 a {
  border: 4px solid red;
}

.meer-info2 a {
  border: 4px solid green;
}

.meer-info3 a {
  border: 4px solid red;
}

.meer-info4 a {
  border: 4px solid yellow;
}
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: space-around;
  margin-top: 50px;
  margin-left: 600px;
}

.contact {
  position: relative;
  text-align: center;
  top: 18vh;
}